<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Welcome post section</h1>
<a href="/post/save">Add New Post</a>
<table>
    <thead>

    <tr>
        <td>id</td>
        <td>title</td>
        <td>description</td>

    </tr>
    </thead>
    <tbody>
    <tr th:each="post: ${posts}">
        <td th:text="${post.id}"></td>
        <td th:text="${post.title}"></td>
        <td th:text="${post.description}"></td>
        <td th:text="${post.date}"></td>
        <td>
            <a th:href="@{/post/save/(id=${post.id})}">Edit</a> | <a th:href="@{/post/delete/(id=${post.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>